<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
  <% include partials/_header %>
</head>
<body style="font-size:20px; padding:50px;">
  <%if (user) { %>
    <form class="form-inline" action="/urls" method="POST">
      <div class="form-group mb-2">
        <label for="longURL">Enter a URL:</label>
        <input class="form-control" type="text" name="longURL" placeholder="http://" style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
      </form>
    <% } %>
    <% Object.keys(urls).forEach(function(url) { %>
      <form class="form-inline" method="POST" action="/urls/<%= url %>/delete">
        <div class="form-group mb-2">
          <label for="longURL"> <strong><%= url %></strong>&nbsp;&nbsp;&#8594;&nbsp;&nbsp;<a href='<%= urls[url].longURL %>' target="_blank"><%= urls[url].longURL %></a>
            &nbsp;&nbsp;<a href="/urls/<%= url %>">Edit</a>
          </label>&nbsp;&nbsp;
          <button type="submit">Delete</button>
        </div>
      </form>
    <% }); %>
</body>
</html>

